* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Regular", sans-serif;
}
.hidden{
  display: none;
}
.wrapper {
  overflow: hidden;
}
.btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 20;
}
.btn-top a {
  background-color: rgba(119, 135, 153, 0.5);
  display: inline-block;
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.btn-top a:hover {
  background-color: #778799;
}
/*---header---*/
.container {
  max-width: 1440px;
}
.main-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #191970;
  padding-top: 36px;
  padding-bottom: 190px;
  max-width: 1910px;
  margin: 0 auto;
}
header {
  max-width: 1910px;
  margin: 0 auto;
}
section {
  max-width: 1910px;
  margin: 0 auto;
}
.header {
  margin-bottom: 110px;S
}
.header .navbar-brand {
  color: #fff;
}
.header .navbar-brand:hover {
  color: #fff;
}
.header .navbar-brand .meeting-name {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
}
.header .navbar-brand .meeting-name br{
    display: none;
  }
.header .navbar-brand .meeting-data {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140%;
}
.header .navbar-collapse{
	/*display: none !important;*/
}
.header .navbar-light .navbar-nav .nav-item {
  margin-right: 5px;
}
.header .navbar-light .navbar-nav .nav-link {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 1px solid #fff;
}

.header .langSelect .dropdown-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  transition: all 0.3s ease-in-out;
  border-bottom: 1px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  padding: 0 6px;
  border-radius: 0;
}
.header .langSelect.mob{
  display: none;
}
.header .langSelect.deck{
  /*display: none;*/
}

.header .langSelect .dropdown-toggle:hover {
  background-color: rgb(255, 255, 255, 0.2);
  cursor: pointer;
}
.header .langSelect .dropdown-toggle:focus {
  outline: none;
  border-bottom: 1px solid #fff;
}
.header .langSelect .dropdown-toggle::after {
  display: none;
}
.header .langSelect .dropdown-menu {
  width: 100%;
  min-width: auto;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}
.header .langSelect .dropdown-item {
  padding: 3px 0;
  color: #fff;
  text-align: center;
}
.header .langSelect .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*---header---*/

/*---main-block---*/
.main-block {
  color: #fff;
}
.main-block .title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: 'Roboto Black';
  font-family: Roboto Condensed;
}
.main-block .location {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: right;
}
.main-block .location span {
  border: 3px solid #add7e5;
  border-left: 45px solid #add7e5;
  font-weight: bold;
  color: #add7e5;
  padding: 3px 15px;
  margin-left: 5px;
}
.main-block .sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 150%;
  background: rgba(119, 135, 153, 0.55);
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 45px;
  font-family: Roboto Condensed;
}
.main-block .reg-btn {
  border: 2px solid #fdbb2d;
  border-radius: 100px;
  padding: 5px;
  display: inline-block;
}
.main-block .reg-btn a {
  background-color: #fff;
  display: inline-block;
  color: #191970;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  border-radius: 100px;
  padding: 10px 50px;
  transition: all 0.5s ease-in-out;
  font-family: Roboto Black;
}
.main-block .reg-btn a:hover {
  text-decoration: none;
  background-color: #fdbb2d;
}
.main-block .mitting-info {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}
.main-block .frame {
  position: absolute;
  top: 20%;
  left: 0
}
.main-block .vector {
  position: absolute;
  top: -15%;
  right: 0;
}
.main-block .frame-line {
  position: absolute;
  right: 10%;
  bottom: -35%;
}

/*---main-block---*/

/*partners_top*/
.partners_top .partner {
  text-align: center;
}
/*partners_top*/

/*---about---*/
.about {
  padding: 65px 0 0;
  position: relative;
}
.about:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90%;
  width: 200px;
  background-color: #add7e5;
}
.vector_about {
  position: absolute;
  top: 44%;
  left: -10%;
}

.frame_about {
  position: absolute;
  right: -13%;
  top: 10%;
}
.frame_about2 {
  position: absolute;
  left: -10%;
  bottom: -30%;
}
.vector_about2 {
  position: absolute;
  top: -13%;
  right: -10%;
}
.about .about-title {
  background: #191970;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 65px;
}
.about .about-title span {
  font-family: Roboto Condensed Bold;
  font-weight: bold;
  font-size: 42px;
  line-height: 150%;
  color: #fff;
  position: relative;
}
.about .about-title span:before {
  display: block;
  content: "";
  height: 135%;
  width: 169%;
  border: 4px solid #fdbb2d;
  position: absolute;
  top: -8px;
  left: -65%;
}
.about .about-info{
	padding-bottom: 65px;
}
.about .about-info_title {
  font-family: Roboto Condensed Bold;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #191970;
}
.about .about-info_text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #191970;
}
.about-info_bg {
  background: rgba(119, 135, 153, 0.05);
  padding: 120px 0;
}
.about-list {
  text-align: center;
  width: 550px;
  margin: 0 auto;
  margin-top: 60px;
}

.about-list .list_title {
  background: #191970;
  width: 30%;
  color: #fff;
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
}
.about-list .list_info {
  width: 70%;
  position: relative;
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #191970;
  text-align: left;
  padding-left: 5px;
}
.about-list .list_info:before {
  position: absolute;
  display: block;
  content: "";
  height: 124%;
  width: 103%;
  border: 2px solid #fdbb2d;
  top: -6px;
  left: -10px;
}
.about-list ul li {
  margin-bottom: 50px;
}

/*---about---*/

/*basic-news*/
.basic-news {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0 110px;
}
.basic-news_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 80px;
}
.news_list .news_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.news_list span {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 96px;
  line-height: 112px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.06em;
  color: #fdbb2d;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fdbb2d;
  position: relative;
  top: -33px;
  right: -5px;
  z-index: 1;
}
.news_list li.countries{
	transform: translateX(-50px);
}

.basic_frame {
  position: absolute;
  bottom: -130px;
  right: 0;
}


/*basic-news*/

/*---agenda---*/

/*tabs*/
.agenda {
  padding-top: 95px;
  padding-bottom: 240px;
  position: relative;
}


.agenda-title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #191970;
  margin-bottom: 50px;
}

.agenda .agenda_nav {
  display: flex;
  margin-bottom: 50px;
}
.agenda .agenda_item {
  font-family: Roboto Black;
  padding: 12px;
  font-weight: 900;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: rgba(119, 135, 153, 0.4);
  color: #ffffff;
  border-radius: 0;
  margin-top: 4px;
  /*transition: background .3s ease-in-out;*/
}
.agenda .agenda_item:hover {
  cursor: pointer;
}
.agenda .agenda_item.selected {
  background: #191970;
  padding: 16px 20px 12px;
  margin-top: 0;
  margin-bottom: -4px;
}

/* general tab content styles */
.agenda article {
  opacity: 0; /* hidden by default */
  /*position: absolute;*/
  position: relative;
  visibility: hidden;
  top: -1px;
  transition: .3s left ease,.3s right ease,.3s opacity ease;
  width: 100%;
  height: 0;
}
.agenda article#tab1_content{
  left: -100%;
}
.agenda article#tab2_content{
  right: -100%;
}

/* selected tab content styles */
.agenda article.selected {
  display: block; /* visible! */
  opacity: 1;
  visibility: visible;
}
.agenda article#tab1_content.selected{
  left: 0;
  height: auto;
}
.agenda article#tab2_content.selected{
  right: 0;
  height: auto;
}

.agenda-card .card {
  border: none;
}
.agenda-card .card:hover {
  cursor: pointer;
}
.agenda-card .card-header {
  background-color: transparent;
  outline: 2px solid #fdbb2d;
  box-sizing: border-box;
  margin-bottom: 25px;
  transition: all 0.3s ease-in-out;
}
.agenda-card .card-header:hover {
  outline: 5px solid #fdbb2d;
}
.agenda-card .btn-link:hover {
  text-decoration: none;
}
.agenda-card button:hover{
	cursor: pointer;
}

.agenda-card .agenda-time {
  width: 15%;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #191970;
}
.agenda-card .agenda-info {
  width: 85%;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #778799;
  position: relative;
}

.accordion_bottom .accordion_down {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.accordion_bottom .accordion_up {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
.accordion_bottom .accordion_down.active,
.accordion_bottom .accordion_up.active {
  display: block;
}
.agenda-card .agenda-info h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #191970;
}

.agenda-card .card.disabled .card-header{
  outline: none;
  border: none;
}
.agenda-card .card.disabled button:hover{
  cursor: default;
}
.agenda-card .card.disabled .btn.disabled, .btn:disabled{
  opacity: 1;
}


.agenda-card .card-body .agenda-time {
  color: #778799;
}
.agenda-card .card-body .agenda-info li {
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
}
.agenda-card .card-body .agenda-info li:last-child {
  list-style: none;
  margin-top: 20px;
}
.agenda-card .card-body .agenda-info li b {
  font-style: normal;
}
.accordion_bottom .agenda-info_hide {
  margin-bottom: 20px;
}
.agenda_file label {
  font-weight: 900;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #191970;
  border: 2px solid #191970;
  padding: 2px 15px;
}
.agenda_file label:hover {
  cursor: pointer;
}

/*---agenda---*/

/*---regstration---*/
.regstration {
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}
.regstration .location {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  margin-bottom: 65px;
}
.regstration .location span {
  border: 3px solid #add7e5;
  border-left: 45px solid #add7e5;
  font-weight: bold;
  color: #add7e5;
  padding: 3px 15px;
  margin-left: 5px;
}
.regstration h1 {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #fdbb2d;
}
.regstration p {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 65px;
}

.regstration .reg-btn {
  border: 2px solid #fdbb2d;
  border-radius: 100px;
  padding: 5px;
  display: inline-block;
  margin: 0 auto;
}
.regstration .reg-btn a {
  background-color: #fff;
  display: inline-block;
  color: #191970;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 150%;
  border-radius: 100px;
  padding: 10px 50px;
  transition: all 0.5s ease-in-out;
}
.regstration .reg-btn a:hover {
  text-decoration: none;
  background-color: #fdbb2d;
}
.regstration .vector_reg {
  position: absolute;
  bottom: -115px;
  right: -135px;
}
.regstration .frame_reg {
  position: absolute;
  top: -175px;
  left: -195px;
}
/*---regstration---*/

/*---speakers---*/
.speakers {
  padding: 100px 0;
}
.speakers .speakers-title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #191970;
  margin-bottom: 50px;
}
.speakers .card {
  border: none;
  margin-bottom: 60px;
}
.speakers .card_top {
  padding: 0 30px;
}
.speakers .card_top:hover{
	cursor: pointer;
}
.speakers .card_top:hover .card-title{
	color: #fdbb2d;
	cursor: pointer;
}
.speakers .card-title {
	font-family: Roboto Bold;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  background: #191970;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
.speakers .card-title:hover {
  color: #fdbb2d;
  /*cursor: pointer;*/
}
.speakers .card-body {
  padding: 0;
}
.speakers .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #778799;
  padding: 0;
}
/*---speakers---*/

/*---comments---*/

.comments {
  background-size: initial;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.comments .item {
  background-color: #fff;
}
.comments .speaker_img img {
  border-right: 8px solid #fdbb2d;
}
.comments .speaker_comment {
  font-size: 24px;
  line-height: 150%;
  color: #778799;
}
.comments .speaker_comment b {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: #191970;
}
.comments .speaker_comment i {
  display: block;
  font-size: 17px;
}
.comments .simvol {
  /*text-align: center;*/
  margin-bottom: 40px;
  margin-left: 500px;
}
.comments .corusel_prev {
  background-image: url(../images/prev.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 225px;
  width: 35px;
}
.comments .corusel_next {
  background-image: url(../images/next.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 225px;
  width: 35px;
}
.comments .owl-prev {
  position: absolute;
  top: 15%;
  left: 0;
}
.comments .owl-next {
  position: absolute;
  top: 15%;
  right: 0;
}
.comments .owl-prev:focus,
.comments .owl-next:focus {
  outline: none;
}


/*---comments---*/

/*---conference---*/
.conference {
}
.conference .conference_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #191970;
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  z-index: 1;
}
.conference .conference_title:before {
  position: absolute;
  display: block;
  content: "";
  height: 120%;
  width: 129%;
  border: 4px solid #fdbb2d;
  top: -6px;
  left: -30px;
}
.conference .conference_title:after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  width: 500%;
  top: 11px;
  right: -514%;
  background-color: #add7e5;
  z-index: -1;
}
.conference_body h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #191970;
}
.conference_body p {
  margin-bottom: 30px;
}
.conference_body ul {
  padding: 0;
  margin: 0;
}
.conference_body ul li {
  list-style: none;
  font-style: italic;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #778799;
  margin-bottom: 4px;
}
.conference_body ul li b {
  font-style: normal;
}

/*---conference---*/

/*---contact---*/
.contact {
  padding: 100px 0;
}
.contact .container {
  padding: 175px 0;
  position: relative;
}
.contact .container:after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #add7e5;
  top: 0;
  right: -120px;
  z-index: -1;
}
.contact .container:before {
  display: block;
  content: "";
  position: absolute;
  height: 300px;
  width: 100%;
  background-color: #191970;
  top: 75px;
  left: -780px;
}
.contact_frame {
  position: absolute;
  top: -125px;
  right: -234px;
}
.contact_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  border: 4px solid #fdbb2d;
  padding: 15px 135px 15px 50px;
}
.contact_info a {
  font-size: 24px;
  line-height: 150%;
  color: #191970;
}
.contact_info a:hover {
  text-decoration: none;
}
.contact_info b {
  display: block;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 150%;
  color: #191970;
}

/*---contact---*/

/*---ulead---*/
.ulead {
  position: relative;
  padding: 80px 0 250px;
}
.ulead_galery {
  width: 700px;
  height: 485px;
  position: absolute;
  top: 0;
  left: -233px;
}
.ulead_frame{
  position: absolute;
  top: -180px;
  right: 0;
  z-index: 6;
}
.ulead_frame2{
  position: absolute;
  bottom: -155px;
  right: 0;
  z-index: 7;
}
.ulead_galery .row {
  height: 100%;
}
.ulead_galery_img {
  height: 190px;
  transition: all .3s ease-in-out;
}
.ulead_galery_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ulead_galery_img a{
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}
.ulead_galery_img a:before{
  content: '+';
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 30px;
  opacity: 0;
  transition: .3s all ease;
}
.ulead_galery_img a:hover:before{
  opacity: 1;
}

/*****/
.ulead_galery_block {
  position: relative;
  z-index: 4;
  max-width: 1900px;
  margin: 0 auto;
  display: none;
  transition: all .3s ease-in-out;
}
.ulead_galery_box img {
  width: 100%;
  object-fit: cover;
}
.ulead_galery_block.active {
	background-color: #fff;
  display: block;
  position: absolute;
  z-index: 8;
  top: 80px;
  transition: all .3s ease-in-out;
  width: 100%;

}
.galery_close{
	font-size: 25px;
	text-align: right;
	margin-right: 50px;
	margin-bottom: 30px;
	margin-top: 25px;
}
/*****/

.ulead:before {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background: rgba(119, 135, 153, 0.05);
  top: 0;
  left: 0;
}
.ulead:after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 20%;
  background: #add7e5;
  top: 0;
  right: 0;
}
.ulead .ulead_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #191970;
  margin-bottom: 65px;
}

/*---ulead---*/

/*---international---*/
.international {
  padding: 75px 0;
  position: relative;
}

.inter_vector {
  position: absolute;
  top: -165px;
  left: -150px;
  z-index: 5;
}
.international:before {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background: #fff;
  top: 0;
  left: 0;
}
.international:after {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 20%;
  background: #add7e5;
  top: 0;
  right: 0;
}
.international_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: right;
  color: #191970;
}
.international_info {
  font-size: 17px;
  line-height: 150%;
  color: #778799;
  /*padding-left: 20px;*/
}
.international_corusel {
  margin-top: 60px;
}
.international_corusel .owl-carousel .owl-stage-outer{
  overflow: visible;
}
.international_corusel .swiper-container {
  width: 100%;
  height: 100%;
}


.international_corusel .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: inline-block;
  width: 600px !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.international_corusel .swiper-wrapper {
  margin-left: 110px;
}
.international_corusel .swiper-slide img {
  width: 100%;
}
.swiperFrame {
  position: relative;
  z-index: 1;
}
/*---international---*/

/*---partners---*/
.partners {
  padding: 110px 0;
}
.partners .partner_title {
  font-family: Roboto Condensed Bold;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  color: #191970;
  margin-bottom: 65px;
}
.partners .partner {
  text-align: center;
}

/*---partners---*/

/*---footer---*/
.footer {
  background: #191970;
  padding: 65px 0;
}
.footer .web_info {
  font-size: 17px;
  line-height: 150%;
  color: #ffffff;
}
.footer .social{
  display: flex;
  justify-content: flex-end;
}
.footer .social a {
  margin-right: 10px;
}

/*---footer---*/

/*---modal---*/
.speakers_modal .close {
  font-size: 50px;
  position: relative;
  right: -55px;
  /*top: -15px;*/
  opacity: 0.5;
}
.speakers_modal .close:focus {
  outline: none;
}
.speakers_modal .close:hover {
  opacity: 1;
  cursor: pointer;
}
.speakers_modal .modal-header {
  border-bottom: 0;
  padding: 0;
}
.speakers_modal .modal-dialog {
  max-width: 600px;
}
.speakers_modal .modal .card {
  border: none;
  padding: 0 100px;
  margin-bottom: 10px;
}
.speakers_modal .modal .card_top {
  padding: 0 30px;
}
.speakers_modal .modal .card-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #fdbb2d;
  background: #191970;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}
.speakers_modal .modal .card-body {
  padding: 0;
}
.speakers_modal .modal .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: #778799;
  padding: 0;
}
.speakers_modal .speaker_info {
  padding: 0 30px 30px 30px;
}

/*---modal---*/

.regstration_modal .modal-content{
	border-radius: 0;
}
.regstration_modal .modal-header {
  border: none;
  padding: 0;
}
.regstration_modal .modal-header .close{
  margin: 0 0 0 auto;
}
.regstration_modal .modal-header .close:focus{
  outline: none;
}
.regstration_modal .modal-body {
  padding: 10px 45px 45px;
}
.regstration_modal .reg_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
}
.regstration_modal .reg_sub_title {
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: #000;
  margin-bottom: 25px;
}
.regstration_modal .form-group label {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: #222;
  margin-bottom: 2px;
}
.regstration_modal .form-group span {
  color: #eb5757;
}
.regstration_modal .form-group input {
  border-radius: 0;
}
.regstration_modal .form-group input::placeholder {
  font-size: 15px;
}
.regstration_modal .form-check-input {
  margin: 0;
  border-radius: 0;
}
.regstration_modal .form-group.form-check label {
  font-size: 12px;
  line-height: 130%;
  color: #191970;
  padding-left: 2rem;
}
.regstration_modal button.btn {
  width: 100%;
  border-radius: 0;
  margin-top: 25px;
  background-color: #191970;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  font-size: 21px;
  line-height: 150%;
}
.regstration_modal button:hover {
  /*background-color: #191970;*/
  cursor: pointer;
}
/*---modal register---*/
.partners_top img{
  width: 100%;
}

.menu_mob{
  display: none;
}
@media only screen and (max-device-width:1366px){

  .container{
    max-width: 1170px;
  }
  .about .about-title span:before{
    left: -300px;
    width: 150%;
  }
  .about:before{
    width: 70px;
    height: 92%;
  }
  .about .about-info_text br{
    display: none;
  }
  .regstration .frame_reg{
    left: 0;
  }
  .ulead_galery{
    left: -98px;
    width: 500px;
    pos
  }
  .partners .partner img{
    width: 100%;
  }

}
@media only screen and (max-device-width:1024px){
  .main-block .reg-btn a{
    padding: 10px 35px;
  }
  .main-block .title{
    font-size: 52px;
  }
  .main-block .sub-title{
    font-size: 35px;
  }
  .main-block .mitting-info br{
    display: none;
  }
  .about:before{
    height: 100%;
  }
  .about .about-info_title{
    font-size: 50px;
  }
  .agenda .d-flex{
    white-space: normal;
  }
  .speakers .card-title{
    font-size: 18px;
  }
  .speakers{
    padding: 100px 0 0;
  }
  .comments .corusel_prev, .comments .corusel_next{
    background-size: 100% 100%;
    height: 180px;
  }
  .contact_title{
    padding: 0 0 10px 30px;
  }
  .ulead .ulead_title{
    font-size: 50px;
  }
  .ulead_galery{
    left: 0;
    width: 75%;
    position: static;
  }
  .ulead_mob1{
    order: 2;
  }
  .ulead_mob2{
    order: 1;
  }
  .ulead_mob2 p{
    margin-right: 20%;
  }
  .international_title{
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .international:after{
    z-index: -1
  }
  .ulead{
    padding-bottom: 100px;
  }
  .footer .web_info br{
    display: none;
  }
  .contact .contact_info{
    text-align: center;
  }
}
@media only screen and (max-device-width:768px){
  .header .collapse.navbar-collapse{
    display: none;
  }
  .header .navbar-light .navbar-toggler{
    /*border-color: #fff;*/
    border: none;
    color: #fff;
    z-index: 10;
  }
  .header .langSelect.mob{
    display: block;
    padding-right: 10px;
  }
  .header .navbar-light .navbar-nav .nav-link{
    font-size: 14px;
    padding-bottom: 0;
  }
  .header .langSelect.deck{
    display: none;
  }
  .main-bg{
    background-size: auto;
    background-position: center center;
    padding-bottom: 135px;
    position: relative;
  }
  .menu_mob{
    display: block;
    background-color: #191970;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: -200%;
    z-index: 25;
    font-size: 18px;
    transition: all .3s ease-in-out;
  }
  .menu_mob.active{
    left: 0;
  }
  .menu_mob_close{
    position: absolute;
    right: 30px;
    top: 30px;
    color: #fff;
    font-size: 25px;
  }
  .menu_mob ul li a{
    color: #fff;
  }
  .main-block .title{
    font-size: 45px;
    line-height: 40px;
  }
  .main-block .location{
    font-size: 18px;
  }
  .main-block .sub-title{
    font-size: 25px;
  }
  .main-block_mob2{
    order: 1;
  }
  .main-block_mob1{
    order: 2;
    text-align: center;
  }
  .main-block .mitting-info{
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .about .about-title span{
    font-size: 35px;
    line-height: 100%;
  }
  .about .about-title span:before{
    left: -137px;
    width: 130%;
    top: -6px;
  }
  .about .about-info_title{
    margin-bottom: 20px;
  }
  .about .about-info{
    padding-bottom: 0;
  }
  .about-info_bg{
    padding: 50px 0;
  }
  .about .about-info_title br{
    display: none;
  }
  .basic-news{
    padding: 50px 0 70px;
  }
  .basic-news_title{
    margin-bottom: 40px;
  }
  .basic-news .news_list{
    padding-left: 115px;
  }
  .agenda{
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .agenda .agenda_item{
    line-height: 80%;
  }
  .agenda-card .agenda-time{
    width: 25%;
  }
  .agenda-card .agenda-info{
    width: 75%;
  }
  .agenda-card .card-header{
    padding: 10px 15px;
  }
  .regstration p{
    font-size: 18px;
  }
  .speakers{
    padding: 50px 0;
  }
  .comments .speaker_comment{
    font-size: 16px;
  }
  .comments{
    padding: 0 0 50px;
  }
  .comments .owl-prev{
    top: 0;
  }
  .comments .owl-next{
    top: 0;
  }
  .comments .simvol img{
    width: 15%;
  }
  .conference .conference_title{
    font-size: 45px;
  }
  .conference .conference_title:before{
    left: -10px;
    width: 123%;
  }
  .contact .container:after{
    right: 0;
  }
  .contact_title{
    display: inline-block;
    padding: 0 50px;
    margin: 0 auto;
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .contact{
    text-align: center;
    padding: 0;
  }
  .contact .container{
    padding: 100px 0;

  }
  .contact_info b{
    font-size: 25px;
  }
  .contact_info a{
    font-size: 18px;
  }
  .ulead_mob1{
    order: 2
  }
  .ulead_mob2{
    order: 1;
    padding-left: 15px !important;
  }
  .ulead_galery{
    position: static;
    width: 100%;
    margin-bottom: 53px;
  }
  .ulead:after, .ulead:before{
    display: none;
  }
  .ulead{
    padding: 50px 0 80px;
  }
  .ulead .ulead_title{
    line-height: 45px;
    font-size: 40px;
  }
  .inter_vector{
    display: none;
  }
  .international_title{
    font-size: 40px;
    margin-bottom: 20px;
  }
  .swiperFrame{
    position: absolute;
  }
  .partners .partner_title{
    font-size: 40px;
    margin-bottom: 0;
  }
  .partners {
    padding: 88px 0;
  }
  .footer{
    text-align: center;
  }
  .footer .web_info{
    margin-bottom: 20px;
  }
  .ulead_frame2{
    z-index: 0;
  }
  .footer .social{
    justify-content: center;
  }

}
@media only screen and (max-device-width:480px){
  .vector_about{
    transform: rotate(90deg);
    left: -20px;
    top: auto;
    bottom: -75px;
  }
   .vector_about img{
    width: 35%;
   }
   .about .about-info{
    padding-bottom: 25px;
   }
   .vector_about2{
    display: none;
   }
  .main-bg{
    padding-top: 10px;
    padding-bottom: 140px;
  }
  .main-block .location{
    transform: translateY(-150px);
    text-align: center;
  }
  .main-block .title{
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
  }
  .partners_top{
    position: relative;
    z-index: 10;
    top: -59px;
    left: -15px;
    background-color: #fff;
    width: 105%;
  }
  .partners_top img{
    padding: 0 15px;
  }
  .frame_about{
    transform: rotate(90deg);
    top: -188px;
    z-index: 8;
    right: auto;
    left: 30px;
  }
  .main-block .vector{
    top: -51%;
    right: -72px;
  }
  .main-block .sub-title{
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
    transform: translateY(-28px);
  }
  .main-block .frame{
    display: none;
  }
  .sub_mob{
    text-align: center;
  }
  .main-block .mitting-info{
    font-size: 17px;
  }
  .main-block .frame-line{
    bottom: -25%;
    display: none;
  }
  .about{
    padding-top: 0px;
  }
  .about .about-title span{
    font-size: 32px;
  }
  .about .about-title span:before{
    width: 200%;
    left: -162px;
    height: 120%;
  }
  .about .about-title{
    position: relative;
    margin-bottom: 25px;
  }
  .about .about-title:before{
    display: block;
    content: '';
    height: 145%;
    width: 130%;
    background-color: #191970;
    position: absolute;
    top: -41px;
    left: -30px;
  }
  .about:before{
    display: none;
  }
  .about .about-info_title{
    font-size: 32px;
    text-align: center;
    line-height: 100%;
  }
  .about-info_bg{
    padding: 25px 0;
    background-color: #ADD7E5;
  }
  .about-list .list_title{
    font-size: 17px;
    width: 21%;
  }
  .about-list .d-flex{
    justify-content: center;
  }
  .about-list .list_info{
    font-size: 17px;
  }
  .about-list .list_info:before{
    height: 145%;
    width: 65%;
  }
  .about-list ul li{
    margin-bottom: 40px;
  }
  .frame_about2{
    display: none;
  }
  .basic-news_title{
    font-size: 32px;

  }
  .news_list .news_title{
    font-size: 20px;
    top: 9px;
    line-height: 50%;
  }
  .news_list span{
    font-size: 75px;
    line-height: 90px;
  }
  .basic_frame{
    transform: rotate(-90deg);
    right: -140px;
    bottom: -80px;
  }
  .basic-news{
    padding-bottom: 0;
  }
  .agenda_file {
    position: absolute;
    bottom: -40px;
    /*text-align: center !important;*/
  }
  .agenda_file label{
    padding: 2px 80px;
  }
  .agenda-title{
    font-size: 32px;
    margin-bottom: 15px;
  }
  .agenda{
    padding-top: 0;
  }
  .agenda .agenda_item{
    font-size: 15px;
  }
  .agenda .agenda_nav{
    padding-left: 25%;
  }
  .agenda-card .card-header{
    padding: 0;
  }
  .agenda-card .agenda-time{
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .agenda-card .agenda-info{
    width: 100%;
    font-size: 17px;
  }
  .agenda-card .agenda-info h3{
    font-size: 17px;
    margin-bottom: 0;
  }
  .agenda .d-flex{
    flex-wrap: wrap;
  }
  .regstration .frame_reg{
    right: -530px;
  }
  .regstration h1{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .regstration{
    padding: 100px 50px;
  }
  .regstration .location{
    font-size: 17px;
  }
  .speakers .speakers-title{
    font-size: 32px;
  }
  .card-img-top{
    /*display: none;*/
  }
  .speakers .card-text{
    font-size: 15px;
  }
  .speakers .card_top{
    padding: 0 65px;
  }
  .speakers .card{
    margin-bottom: 30px;
  }
  .speaker_img{
    display: none;
  }
  .comments .speaker_comment{
    padding: 0 50px;
  }
  .speakers{
    padding-bottom: 0;
  }
  .conference .conference_title{
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 0;
  }
  .conference .conference_title:after{
    right: -510%;
    height: 28px;
  }
  .ulead_frame {
    top: -172px;
    right: -134px;
  }
  .contact_title{
    font-size: 32px;
  }
  .contact_info b{
    font-size: 25px;
  }
  .ulead .ulead_title br{
    display: none;
  }
  .ulead .ulead_title{
    font-size: 32px;
    margin-bottom: 35px;
  }
  .international:after {
    display: none;
  }
  .international_title{
    font-size: 32px;
  }
  .international{
    padding: 30px 0;
  }
  .international_corusel .swiper-slide{
    width: 80% !important;
    margin-right: 20px !important;
    /*margin-left: 245px !important;*/
  }
  .swiperFrame{
    display: none;
  }
  .partners{
    padding: 0 0 30px;
  }
  .partners .partner_title{
    font-size: 32px;
  }
  .ulead_galery{
    margin-bottom: 480px;
  }
  .international:before{
    width: 100%;
  }
  .header .langSelect.mob{
    padding: 0;
    margin: 0 !important;
  }
  .header .navbar-brand{
  	margin: 0;
  }
  .header .navbar-brand .meeting-name{
  	font-size: 15px;
  }
  /*last Change*/
  .speakers_modal .close{
    right: 10px;
    top: 5px;
    font-size: 25px;
  }
  .speakers_modal .modal .card{
    padding: 0;
  }
  .speakers_modal .modal .card-title{
    font-size: 17px;
  }
  .speakers_modal .speaker_info{
    padding: 0 5px 5px 5px;
  }

}

@media only screen and (max-device-width:360px){
  
  .header .navbar{
    padding: 0;
  }
  .speakers .card_top{
    padding: 0;
  }
  .about-list .list_title{
    width: 15%;
  }
  .about-list .list_info:before{
    width: 55%;
  }
  .basic-news .news_list{
    padding-left: 70px;
  }
  .agenda .agenda_nav{
    padding-left: 15%;
  }
  .regstration .reg-btn a{
    padding: 10px 30px;
  }
  .ulead_galery{
    margin-bottom: 480px;
  }
  .international:before{
    width: 100%;
  }
}
@media only screen and (max-device-width:320px){
  .header .navbar-brand .meeting-name br{
    display: block;
  }
  .main-block .location{
    transform: translateY(-185px);
  }
  .main-block .frame-line{
    bottom: -17%;
  }
  .about-list .d-flex{
    justify-content: flex-start;
  }
  .agenda_file {
    left: 47px;
  }
  .comments .speaker_comment{
    padding: 0 20px;
  }
  .comments .owl-prev{
    left: -18px;
    top: 45px;
  }
  .comments .owl-next{
    right: -18px;
    top: 45px;
  }
  .regstration .reg-btn a{
    padding: 10px 15px;
  }
  .ulead_mob2 p{
    margin-right: 0;
  }
  .international_title{
    text-align: center;
  }
  .conference .conference_title{
    text-align: center;
  }
  .conference .conference_title:before{
    width: 107%;
  }
}
